<!DOCTYPE html>
<html>
  <head>
    <title>td-ls</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<b style='font-size: 1.5rem;'>td-ls;</b>
		Simple, Lightweight, Command-line Todo-list & Tech Blogging Service 
  </body>
</html>
