<div class='header'>
	<a href='/' style='text-decoration:none; color: black;'><b style='font-size: 1.5rem;'>td-ls;</b></a>
	Simple, Lightweight, Command-line Todo-list & Tech Blogging
	<b><span class='gblue'>S</span><span class='gred'>e</span><span class='gorange'>rv</span><span class='gblue'>i</span><span class='ggreen'>c</span><span class='gred'>e</span></b>,
	<a style='font-size: 0.8rem;' href='https://github.com/songjein/tdls' target='_blank'>github</a>
</div>

<%- include cmdInterface.ejs %>
