body {
	max-width: 1024px;	
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
	text-decoration: none;
}

.gblue {
	color: #4285F4; /*66,133,244*/
}
.ggreen {
	color: #34A853;	 /*52,168,83*/
}
.gorange {
	color: #FBBC05;	 /* 251,188,5*/
}
.gred {
	color: #EA4335;	 /* 234,67,53*/
}
.gray {
	color: #999999;
}
.bgred {
	background: rgba(255, 0, 0, 0.15);	
}
.bggreen {
	background: rgba(0, 255, 0, 0.1);	
}
.bgblue {
	background: rgba(0, 0, 255, 0.12);	
}
