body {
}

a {
  color: #00B7FF;
	text-decoration: none;
}

.gblue {
	color: #4285F4;
}
.ggreen {
	color: #34A853;	
}
.gorange {
	color: #FBBC05;	
}
.gred {
	color: #EA4335;	
}
.gray {
	color: #999999;
}
.bgred {
	background: rgba(255, 0, 0, 0.15);	
}
.bggreen {
	background: rgba(0, 255, 0, 0.1);	
}
.bgblue {
	background: rgba(0, 0, 255, 0.12);	
}
